<div class="meta mb-4">

    <button class="d-flex align-items-center bg-transparent border-0 p-0 text-gray-500" type="button" {{action "leftButtonAction"}}>
        <i class="bx me-2 clickable"></i>
        <span class="small ">Back</span>
    </button>

    
    <h2>{{ title }}</h2>
</div>